@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #070719;
    font-family: 'Kanit', serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    color: white;
    display: inline-block;
    font-size: 20px;
}

.header {
    background-color: #15151B;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    height: 120px;
    width: 100%;
    position: fixed;  
    top: 0;

}

.group-one-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}

.icon-menu {
    color: white;
    font-size: 35px;
}

.background-logo {
    background-color: #4e586096;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.logo {
    height: 80px;
}

.search {
    background-color: #4e586096;
    border: none;
    border-radius: 7px;
    padding: 15px;
    width: 250px;
}

::placeholder {
    color: white;
    font-family: 'kanit', serif;
    font-size: 20px;
}

.links {
    margin-right: 100px;
}

.list-links {
    display: flex;
    gap: 2rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.banner-body {
    background-image: url('../images/banner-1-version-2.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11rem;
    height: 250px;
    width: 1200px;
}

.arrow {
    color: white;
    font-size: 70px;
}

.points {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 1200px;
}

.point {
    border-radius: 5px;
    background-color: white;
    height: 5px;
    width: 100px;
}

.point:nth-child(1) {
    background-color: #7041DF;
}

.brands {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    width: 100vw;
    height: 500px;
}

.brands .text-brands {
    color: white;
    font-size: 25px;
}

.brands .cards-brands {
    display: flex;
    gap: 30px;
    margin-top: 5rem;
}

.brands .cards-brands .card .img-card-brands {
    width: 270px;
}

#logo-corsair {
    filter: invert(100%);
}

.brands .cards-brands .card {
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #15151B;
    padding: 5px 30px;
}