@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    
    background-color: #070719;
    font-family: 'Vollkorn SC', serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    color: #D8AE5E;
    display: inline-block;
    font-size: 20px;
}

.header {
    background-color: #0a0a27;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    height: 100px;
    width: 100%;
    position: fixed;  
    top: 0;

}

.group-one-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}

.icon-menu {
    color: #D8AE5E;
    font-size: 35px;
}

.background-logo {
    background-color: #4e586096;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.logo {
    height: 80px;
}

.search {
    background-color: #4e586096;
    border: none;
    border-radius: 7px;
    padding: 10px;
}

::placeholder {
    color: #D8AE5E;
    font-family: 'Vollkorn SC', serif;
    font-size: 15px;
}

.links {
    margin-right: 100px;
}

.list-links {
    display: flex;
    gap: 2rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.banner-body {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: 0px -70px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    height: 250px;
    width: 1200px;
}

.arrow {
    color: white;
    font-size: 70px;
}

.points {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 1200px;
}

.point {
    border-radius: 100%;
    background-color: white;
    height: 20px;
    width: 20px;
}

.point:nth-child(1) {
    background-color: #D8AE5E;
}