@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #070719;
    font-family: 'Kanit', serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    color: white;
    display: inline-block;
    font-size: 20px;
}

.header {
    background-color: #15151B;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;  
    top: 0;
    height: 120px;
    width: 100%;
    z-index: 2;

}

.group-one-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}

.background-logo {
    background-color: #4e586096;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.logo {
    height: 80px;
}

.search {
    background-color: #4e586096;
    border: none;
    border-radius: 7px;
    padding: 15px;
    width: 250px;
}

::placeholder {
    color: white;
    font-family: 'kanit', serif;
    font-size: 20px;
}

.links {
    margin-right: 100px;
}

.list-links {
    display: flex;
    gap: 2rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.banner-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11rem;
    height: 250px;
    width: 1200px;
}

@media screen and (max-width:800px) {
    .banner-body{
        height: 150;
        width: 594px;
    }
    
}


.arrow {
    color: white;
    font-size: 70px;
}

.points {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    width: 1200px;
}

.point {
    border-radius: 5px;
    background-color: white;
    height: 5px;
    width: 100px;
}

.point:nth-child(1) {
    background-color: #7041DF;
}

.brands {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 100vw;
}

.brands .text-brands {
    color: white;
    font-size: 25px;
}

.brands .cards-brands {
    display: flex;
    gap: 30px;
    margin-top: 5rem;
}

.brands .cards-brands .card .img-card-brands {
    width: 270px;
}

#logo-corsair {
    filter: invert(100%);
}

.card {
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #15151B;
    transition: border-color 0.3s ease;
    padding: 5px 30px;
}

.computer-suggestions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.text-cards-pc {
    color: white;
    font-size: 25px;
    margin-bottom: 5rem;
}

.cards-pc {
    display: flex;
    gap: 100px;
    margin-bottom: 100px;
}

.card-pc {
    background-color: #4e586093;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 14px;
    transition: border-color 0.3s ease;
    width: 260px;
}

.img-card-pc {
    margin-top: -50px;
    margin-bottom: 15px;
    width: 180px;
}

.info-pc {
    color: #fff;
    font-size: 18px;
}

.price-pc {
    color: #FFB321;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 15px;
    width: 100%;
}

.total-price, .installments-price {
    font-size: 18px;
}

.buy-pc {
    background-color: #0090E1;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    margin-top: 15px;
    padding: 15px 0;
    letter-spacing: 5px;
    width: 100%;
}

footer {
    background-color: #15151B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-link {
    color: #fff;
    font-size: 30px;
}

.text-copyright {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact {
    color: #fff;
    font-weight: 100;
}

@media screen and (max-width: 800px){
    .cards-brands{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

}

#Icon{
    display: none;
}
#Icon ul{
    display: inline-block;
}

#fechar{
    width: 200px;
    height: 40px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5124B;
    color: white;
  }

  @media screen and (max-width:800px){
    .header{
        display: flex;
        justify-content: center;
        height: 180px;
    }
    .icon-menu {
        color: white;
        font-size: 35px;
        display: block;
    }

    nav{
    display: none;
    }
    
  }

  @media screen and (min-width:800px){
    #IconButton{
        display: none;
    }
    #Icon ul{
        display: none;
    }
  
}